*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Inter,"sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    text-rendering: optimizeLegibility;}
.chat_box{
    cursor: pointer;
    position: fixed;
    top: 87%;
    left: 93%;
}
.background__top{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1350px;
    filter: contrast( 90%) brightness(105%);
    z-index: -999;
}
.shadow_background{
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: white;
    top: 1280px;
    left: 0px;
    filter: contrast(80%) brightness(80%) blur( 100px );
    z-index: -999;
}
.img_chat{
    border-radius: 10%;
}
.box_container1{
        height: 1600px;
}
.banner{
    display: flex;
    align-items: center;
    background-color: #171321;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.banner_img1{
    width: 80px;
    height: 34px;
}
.banner_title{
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.learnmore{
color: #fff;
font-weight: 400;
margin-left: 24px;
-webkit-text-decoration: underline;
text-decoration: underline;
transition: all 0.2 ease-in-out;
}
.learnmore_button{
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-flex;
    font-family: Inter,"sans-serif";
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    min-width: 68px;
    padding: 11px 16px;
    text-align: center;
}
.mt{
    color: #fff;
}
.banner_img2{
    width: 80px;
    height: 34px;
}
.right_arrow{
    color: #fff;
    transform: translateY(3px);
    transition: 0.1s linear;
}
.learnmore_button:hover .right_arrow{
    transform: translateX(7px) translateY(3px);
}
/* asdasdasdasd */
.navigation_container {
    position: sticky; 
    right: 0;
    top: 0;
    z-index: 999;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    background-color: white;
}
.fox_icon {
    width: 33.33px;
    height: 33.33px;
    margin-left: 24px;
}
.item_left {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    width: 66.67%;
    height: 85px;
}
.item_left  p {
    font-size: 18px;
    margin: 6px;
}
.item_right {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
    width: 33.33%;
    height: 85px;
}
.item_right  p {
    font-size: 18px;
    margin: 30px;
}
.nav_button1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 45px;
    border-radius: 5px;
    background-color: #171321;
    color: white;
    font-weight: 600;
    font-size: 19px;
    border: 1px solid #171321;
    transition: 0.2s linear;
}
.nav_button1:hover {
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 45px;
    border-radius: 5px;
    background-color: white;
    color: #171321;
    font-weight: 600;
    font-size: 19px;
    border: 1px solid #171321;
}
.nav_item{
    cursor: pointer;
   color: #74717a;
}
.nav_item:hover{
    color: #171321;
}

.s_icon{
    cursor: pointer;
}
.hero_scroll_container{
    width: 100%;
    height: 715px;
}
.brand_lg_container{
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.logo_list{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.logo_item{
    margin-left: 16px;
}

.intro_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 150px;
}
.intro_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro_block{
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 100px ;
    margin-right: 100px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px; 
}
.intro_left{
    width: 50%;
    height: 400px;
}
.intro_title{
    font-size: 34px;
}
.intro_right{
    width: 50%;
    height: 400px;
}
.intro_com{
    margin-top: 25px;
}
.intro_button{
    display: flex;
    flex-direction: row;
}
.in_but_left{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 40px;
    border-radius: 3px;
    background-color: #171321;
    color: white;
    font-weight: 550;
    font-size: 18px;
    border: 1px solid #171321;
    transition: 0.2s linear;
}
.in_but_left:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 40px;
    border-radius: 3px;
    background-color: white;
    color: #171321;
    border: 1px solid #171321;
}
.in_but_right{
    cursor: pointer;
    margin-top: 14px;
    margin-left: 10px;
    font-weight: 900;
    height: 20px;
}
.play_but{
    transform: translateY(-20px) translateX(115px);
    transition: 0.2s linear;
}
.in_but_right:hover{
    border-bottom: solid 2px black;
}
.in_but_right:hover .play_but{
    transform: translateY(-20px) translateX(122px);
}
.intro_right img{
    transform: translateY(-50px);
}
