*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Inter,"sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    text-rendering: optimizeLegibility;
    position: relative;
}
.chat_box{
    cursor: pointer;
    position: fixed;
    top: 87%;
    left: 93%;
    z-index: 999;
}
.background__top{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1350px;
    filter: contrast( 110%) brightness(100%);
    z-index: -999;
}
.img_chat{
    border-radius: 10%;
}
.box_container1{
        height: 6000px;
}
.banner{
    display: flex;
    align-items: center;
    background-color: #171321;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.banner_img1{
    width: 80px;
    height: 34px;
}
.banner_title{
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
@media only screen and (max-width:800px){

    .banner{
        background-color: #eee7fd;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .banner img{
        display: none;
    }
    .banner span{
        color: #000;
        transform: translateX(15px);
    }
    .banner a{
        color: #a686f2;
        transform: translateX(-25px);
    }
    .banner svg{
        display: none;
    }
    .chat_box{
        display: none;
    }
}
.learnmore{
color: #fff;
font-weight: 400;
margin-left: 24px;
-webkit-text-decoration: underline;
text-decoration: underline;
transition: all 0.2 ease-in-out;
}
.learnmore_button{
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-flex;
    font-family: Inter,"sans-serif";
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    min-width: 68px;
    padding: 11px 16px;
    text-align: center;
}
.nav-tab{
    display: none;
}
@media only screen and (max-width: 1100px){
.nav_item{
        opacity: 0;
    }
.nav-tab{
    display: block;
    z-index: -1;
}
.s_icon{
    display: none;
}
}
@media only screen and (max-width: 600px){
    .item_right{
        display: none !important;
    }
    .fox_icon{
        transform: translateX(110px) translateY(-20px);
    }
}
.mt{
    color: #fff;
}   
.banner_img2{
    width: 80px;
    height: 34px;
}
.right_arrow{
    color: #fff;
    transform: translateY(3px);
    transition: 0.1s linear;
}
.learnmore_button:hover .right_arrow{
    transform: translateX(7px) translateY(3px);
}
/* asdasdasdasd */
.navigation_container {
    position: sticky; 
    right: 0;
    top: 0;
    z-index: 999;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    background-color: white;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    transform: translateY(18px);
}
.drop_icon{
    transform: translateX(20px) translateY(-13px);
    opacity: 0;
}
.nav_item.one:hover .drop_icon.one{
    opacity: 1;
}
.nav_item.two:hover .drop_icon.two{
    opacity: 1;
}
.nav_item.three:hover .drop_icon.three{
    opacity: 1;
}.nav_item.four:hover .drop_icon.four{
    opacity: 1;
}
.fox_icon {
    width: 33.33px;
    height: 33.33px;
    margin-left: 24px;
}
.item_left {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    width: 66.67%;
    transform: translateX(60px);
    height: 85px;
}
.drop_icon{
    margin: 0;
}
.item_left  p {
    font-size: 18px;
    margin: 6px;
}
.item_right {
    display: flex;
    flex-flow: row ;
    justify-content: end;
    align-items: center;
    width: 33.33%;
    height: 85px;
}
.item_right  p {
    font-size: 18px;
    margin: 30px;
}
.nav_button1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 45px;
    border-radius: 5px;
    background-color: #171321;
    color: white;
    font-weight: 600;
    font-size: 19px;
    border: 1px solid #171321;
    transition: 0.2s linear;
}
.nav_button1:hover {
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 45px;
    border-radius: 5px;
    background-color: white;
    color: #171321;
    font-weight: 600;
    font-size: 19px;
    border: 1px solid #171321;
}
.nav_item{
    cursor: pointer;
   color: #74717a;
   margin-left: 20px;
}
.nav_item:hover{
    color: #171321;
}

.s_icon{
    cursor: pointer;
}
.hero_scroll_container{
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;

}
@media only screen and (max-width:450px){
    .hero_scroll__block{
        flex-direction: column;
    }
    .scroll__col.one{
        transform: translateY(-50px);
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        margin-bottom: 200px;
        margin-top: 100px;
     }
     .scroll__col.one button{
        width: 100%;
     }
     .scroll__col.one h1{
        font-size: 42px;
        width: 100%;
     }
     .hero_scroll_container{
        box-sizing: border-box;
        width: 400px;
     }
     .scroll__col.two{
        width: 100%;
        height: 400px;
        transform: translateY(-120px) translateX(-25px);
     }
     .brand_lg_container{
        transform: translateY(100px);
     }
     .nav_button1.top{
        display: block !important;
        width: 100%;
        height: 35px;
     }
     .tool_container{
        margin: 0 !important;
        transform: translateY(-80px);
     }
     .showcase_container{
        transform: translateY(-25px);
     }
     .tabbed__content_box{
        flex-direction: column;
     }
     .jason_quote_card{
      display: none;
     }
     .next__block{
        flex-direction: column !important;
        overflow: hidden;
     }
     .foot__container{
        height: auto !important;
     }
     .foot__block{
        height: auto !important;
     }
     .link__block{
        max-width: 41px !important;
        flex-wrap: wrap !important;
        gap: 30px !important;
        justify-content: space-between !important;
        margin-top: 48px !important;
     }
     .logo_block{
        margin-top: 40px;
        height: auto !important;
        flex-wrap: wrap !important;
        gap: 30px !important;
     }
     .logo_item.L{
        display: none !important;
     }
     .logo_item.X{
        display: none;
     }
     .logo_list img{
        width: 50px;
     }
     .logo_item.A{
        transform: translateX(-20px) !important;
     }
     .logo_item.By{
        transform: translateX(120px) translateY(-40px);
     }
     .logo_item.T{
        transform: translateX(-60px) !important;
     }
    }
    .nav_button1.top{
        display: none;
        width: 100%;
        height: 35px;
     }
.hero_scroll__block{
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    box-sizing: border-box;
}
.scroll__col{
    width: 50%;
    height: 450px;
}
.scroll__col.one{
   transform: translateY(50px);
   box-sizing: border-box;
   
}
.hero__card.one:hover{
    transform: translateY(-20px);
}
.but_card_one{
    margin-top: 30px;
    width: 25%; 
    height: 300px;
    border-radius: 90px;
    background-color: #7759c2;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    border: 1px solid #7759c2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 20px;
    box-sizing: border-box;
}
.card__one_text{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -.6px;
    line-height: 32px;
    box-sizing: border-box;
}
.sc_but.card_one{
    transform: translateY(-40px);
}
h1{
    font-size: 47px;
    letter-spacing: -1.4px;
    line-height: 60px;
}
.hero__card{
    background:linear-gradient(176deg,hsla(0,0%,100%,.75),hsla(0,0%,100%,.4));
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 40px;
    max-width: 460px;
    overflow: hidden;
    padding: 24px;
    transition: transform .3s ease;
    width: 100%;
}
.hero_dec{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 16px;
}
.brand_lg_container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.logo-filter{
    filter: grayscale(100%); 
}
.logo_block{
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}
.logo_list{
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    transform: translateX(-20px);
}
.logo_item{
    width: 10%;
}
.logo_item.T{
    transform: translateX(-20px);
}
.logo_item.G{
    transform: translateX(-45px);
}
.logo_item.A{
    transform: translateX(-50px);
}
.logo_item.L{
    transform: translateX(-40px);
}
.item_item .By{
    mix-blend-mode: luminosity;
    background-color: black;
}
@media only screen and (max-width:450px){
    .intro_right{
        display: none;
    }
    .intro_block{
        width: 100% !important;
    }
    .intro_left{
        width: 800px;
    }
    .intro_button{
        flex-direction: column;
        width: 100%;
    }
    .in_but_right{
        display: none;
    }
    .tool_container{
        margin-top: 80px;
        height: 500px !important;
    } 
    .tool_box{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .tool_item__box{
        width: 100% !important;
    }
    .showcase_box{
        flex-direction: column;
        box-sizing: border-box;
        margin-top: 80px !important;
    }
    .case_left{
        width: 320px !important;
        height: 240px !important;
    }
    .case__top
    {
        width: 325px !important;
        transform: translateX(-98px);
        height: 100px !important;
    }
    .case__bot{
        width: 325px !important;
        transform: translateX(-98px);
        height: 100px !important;
    }
    .table_content__block{
        flex-direction: column;
    }
    .code_box{
       display: none;
    }
    .content-left {
        width: auto !important; 
    }
    .platform_container{
        display: none !important;
    }
    .spotlight__block{
        flex-direction: column;
        margin-top: 200px;
    }
    .spotlight-left{
    height: 200px !important;
    width: auto !important;
    flex-direction: column;
    }
    .spotlight-right{
        display: none !important;
    }
    .foot__block{
        max-width: 400px;
        flex-wrap: wrap;
    }
    .intro_block{
        width: auto !important;
    }
    .in_but_left{width: 800px !important;}
}
.intro_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 150px;
}
.intro_block{
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px; 
}
.intro_left{
    width: 50%;
    height: 400px;
}
.intro_title{
    font-size: 34px;
}
.intro_right{
    width: 50%;
    height: 400px;
}
.intro__img{
    width: 100%;
}
.intro_com{
    margin-top: 25px;
}
.intro_button{
    display: flex;
    flex-direction: row;
}
.in_but_left{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 40px;
    border-radius: 3px;
    background-color: #171321;
    color: white;
    font-weight: 550;
    font-size: 18px;
    border: 1px solid #171321;
    transition: 0.2s linear;
}
.in_but_left:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 40px;
    border-radius: 3px;
    background-color: white;
    color: #171321;
    border: 1px solid #171321;
}
.in_but_right{
    cursor: pointer;
    margin-top: 14px;
    margin-left: 10px;
    font-weight: 900;
    height: 20px;
}
.play_but{
    transform: translateY(-20px) translateX(115px);
    transition: 0.2s linear;
}
.in_but_right:hover{
    border-bottom: solid 2px black;
}
.in_but_right:hover .play_but{
    transform: translateY(-20px) translateX(122px);
}
.intro_right img{
    transform: translateY(-50px);
}
.tool_container{
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.tool_box{  
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px ;
}
.tool_item__box{
    width: 25%;
    margin-left: 12px;
}
.hover_underline {
    text-decoration: none; 
    color: #7d60c5;
}
.hover_underline:hover {
    text-decoration: underline;
    color: #7d60c5;
}
h5{
    font-size: 20px;
}
.showcase_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}
.showcase_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 80%;
    max-width: 1200px;
}
.case_left{
    width: 50%;
    height: 320px;
    padding: 24px;
    border-radius: 10px 0 0 10px;
    background-color: #f6f3fe;
}
.case_left h3{
    font-size: 22px;
}
.case_right{
    width: 50%;
    height: 400px;
}
.showcase_pill{
    align-items: center;
    background: #fff;
    border-radius: 90px;
    display: flex;
    width: 280px;
    margin-top: 16px;
    padding: 8px 20px
}
.showcase_pill.top{
    height: 34px;
}
.showcase_pill.bot{
    height: 34px;
}
.sc_pill{
    margin-left: 8px;
    font-size: 12px;
    font-weight: 900;
}
.down_arrow{
    transform: rotateZ(180px);
}
.sc_but{
    margin-top: 60px;
    font-weight: 900;
    transition: 0.2s linear;
}
.sc_button{
    text-decoration: none; 
    color: black;
    transition: all 0.2s linear;
}
.sc_button:hover {
    text-decoration: underline;
    color:black;
}
.pill_right{
    transform: translateY(4px) translateX(3px);
    transition: 0.2s linear;
}
.sc_but:hover .pill_right{
    transform: translateY(4px) translateX(10px);
    cursor: pointer;
}
.case_right{
    height: 360px;
    padding: 20px;
    padding-top: 0;
    width: 50%;
    transform: translateY(6px);
}
.case__top{
    border-radius: 0 10px 0 0 ;
    height: 180px;
    padding: 20px 20px 0 20px ;
    background-color: #f6f3fe;
}
.case__bot{
    height: 140px;
    margin-top: 8px;
    border-radius: 0 0 80px 0;
    padding: 20px 20px 0 20px ;
    background-color: #f6f3fe;
}
.case__bot .sc_but{
    margin-top: 20px;
}
.showcase_container::before{
    background: #171321;
    bottom: -1px;
    content: "";
    display: block;
    height: 125px;
    left: 50%;
    z-index: -1;
    position: absolute;
    transform: translateX(-50%) translateY(20px);
    width: 100%;
}
.table_container{
    display: flex;
    height: 960px;
    width: 100%;
    background: #171321;
    align-items: center;
    justify-content: center;
}
.table__block{
    width: 80%;
    padding-top: 40px;
    max-width: 1200px;
    height: 800px;
}
.table_header{
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.8px;
    line-height: 40px;
    color: #fff;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(91.08deg,#feb484 1.97%,#a686f2 27.88%,#592ac8 65.98%);
    background-clip: text;
}
.text__table p{
        padding-top: 20px;
        color: #fff;
        max-width: 600px;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -1.4px;
        line-height: 60px;
}
.t_b_1{
    border: none;
    background-color: #7d60c5;
    border-radius: 90px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    transition: all .3s ease;
    width: 160px;
    height: 35px;
}
.t_b_2{
    background: #45424d;
    border: none;
    border-radius: 90px;
    color: #fff;
    cursor: pointer;
    width: 120px;
    height: 35px;
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
}
.t_b_2:hover{
    border: none;
    background-color: #7d60c5;
    border-radius: 90px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    transition: all 0.3s ease;
    width: 120px;
    height: 35px;
}
.button__table{
    margin-top: 40px;
}
.table_content__block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    max-width: 1200px;
    height: 500px;
}
.text_ct{
    color: #fff;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
}
.content-left{
    width: 40%;
    max-width: 580px;
    height: 500px;
}
.text__box{
    height: 400px;
}
.text_ct{
    display: flex;
    margin-top: 40px;
}
.content-right{
    width: 60%;
    height: 500px;
    padding: 32px;
}
.arrow-right{
    color: aliceblue;
}
.code_box{
    width: 100%;
    transform: translateX(15px) translateY(-20px);
    overflow-x: hidden;
}
.logo-table{
    color: #a989f5;
}
.para_ct{
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-flex;
    font-family: Inter,"sans-serif";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    min-width: 68px;
    margin-left: 10px;
    margin-top: 3px;
}
.right-arrow{
    margin-top: 5px;
    margin-left: 6px;
}
.text_ct.one:hover .right-arrow.one{
    transition: 0.2s linear;
    transform: translateX(10px);
}
.text_ct.two:hover .right-arrow.two{
    transition: 0.2s linear;
    transform: translateX(10px);
}
.text_ct.three:hover .right-arrow.three{
    transition: 0.2s linear;
    transform: translateX(10px);
}
.text_ct.four:hover .right-arrow.four{
    transition: 0.2s linear;
    transform: translateX(10px);
}
.tabbed-case_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-top: 100px;
}
.tabbed__block{
    box-sizing: border-box;
    width: 80%; 
    max-width: 1200px;
    height: 500px;
}
@media only screen and (max-width: 800px){
    .tab-block{
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.tab-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 4px solid #f2f1f5 ;
}
.tab__logo{
    height: 30px;
    margin-left: 20px;
    width: 18%;
}
.tab__logo.one{
    border-bottom: 4px solid #a989f5;
    height: 60px;
    cursor: pointer;
}
.tab__logo.three{
    transform: translateX(40px);
}
.tabbed-left{
    width: 48%;
    height: 400px;
}
.tabbed__content_box{
    display: flex;
    margin-top: 50px;
    box-sizing: border-box;
}
.tabbed-right{
    width: 45%;
    height: 400px;
    box-sizing: border-box;
}
.tabbed-title{
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}
.showcase_pill.top.tabbed_top{
    border-radius: 40px;
    background-color:#f6f3fe;
    width: 300px;
}
.showcase_pill.bot.tabbed_bot{
    border-radius: 40px;
    background-color: #f6f3fe;
    width: 300px;
    height: 40px;
}
.jason_quote_card{
    position: relative;
    width: 85%;
    height: 250px;
    padding: 50px;
    background-color:#f6f3fe ;
    border-radius: 8px;
}
.studies_card{
    margin-top: 60px;
    width: 40%;
    height: 100px;
}
.Name_Json{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px
}
.Json_img{
    height: 100%;
    background: #000;
    border-radius: 4.4px 4.4px 60px 4.4px;
    bottom: -62px;
    height: 154px;
    position: absolute;
    right: 0;
    overflow: hidden;
}
.platform_container{
    position: relative;
    margin-top: 100px;
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.platform__block{
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px; 
}
.platform-left{
    width: 50%;
    height: 250px;
}
.platform-right{
    display: flex;
    width: 50%;
    height: 250px;
}
.plf-tl{
    display: flex;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.5px;
}
.text-heading-bold{
    width: 10%;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2.1px;
    line-height: 72px;
}
.text-heading{
    width: 10%;
}
.right-top{
    width: 70%;
    height: 250px;
}
.right-bot{
    width: 30%;
    height: 250px;
}
.t-f-h{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.spotlight__container{
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.spotlight__block{
    display: flex;
    width: 80%;
    max-width: 1200px;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}
.spotlight-left{
    display: flex;
    width: 40%;
    height: 500px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0;
    flex-direction: column;
}
.left-top{
    width: 90%;
    height: 40%;
    background-color: #fff;
    margin-top: 20px;
    padding: 28px;
}

.left-bot{
    background-color: #fff;
    width: 90%;
    height: 40%;
    padding: 28px;
    transform: translateY(18px);
}
.spotlight-right{
    width: 60%;
    height: 450px;
    background-color: #fff;
    border-radius: 0 0 120px 0;
    padding: 28px;
    transform:translateY(20px)translateX(40px);
}
.right-ct{
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -2.1px;
    line-height: 42px

}
.spl-row-1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 10px;
}
.spl-row-2{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.spl-row-2 img{
    width: 15%;
}
.spl-row-1 img{
    width: 15%  ;
}
.background__bot{
    position: absolute;
    transform: rotateZ(180deg) translateY(-400px) ;
    width: 100%;
    height: 900px;
    filter: contrast( 120%) brightness(100%);
    z-index: -999;
}
.next__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 150px;
}
.next__block{
    justify-content: center;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 300px;
    background: #171321;
    border: 2px solid #45424d;
    border-radius: 12px;
}
.next-col-left{
    max-width: 450px;
    transform: translateX(-20px);
    width: 45%;
    height: 80%;
    padding: 28px;
}
.next-col-right{
    display: flex;
    width: 45%;
    height: 80%;
}
.next-tit{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(89.95deg,#feb484 3.13%,#a686f2 66.86%,#592ac8 123.2%);
    -webkit-background-clip: text;
    font-size: 35px;
    font-weight: 900;
    margin-top: 20px;
}
.next-text{
    transform: translateY(40px);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.8px;
    line-height: 32px
}
.but-2{
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-flex;
    font-family: Inter,"sans-serif";
    font-size: 18px;
    background-color: #fff;
    font-weight: 600;
    line-height: 20px;
    min-width: 68px;
    padding: 11px 16px;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: background-color .3s cubic-bezier(.7,0,.3,1);
    vertical-align: middle;
    transform: translateY(50px);
}
.but-2:hover {
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-flex;
    font-family: Inter,"sans-serif";
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(234, 233, 233);
    line-height: 20px;
    min-width: 68px;
    padding: 11px 16px;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: background-color .3s cubic-bezier(.7,0,.3,1);
    vertical-align: middle;
    transform: translateY(50px);
}
.next-lg{
    color: #fff;
    width: 28px;
    height: 32px;
}
.next-col-1{
    margin-top: 20px;
    width: 40%;
    height: 200px;
    padding: 32px;
}
.next-col-2{
    width: 40%;
    height: 200px;
    padding: 32px;
    margin-top: 20px;
}
.next__ct{
    margin-top: 14px;
    color: #fff;
    font-size: 14px;
    font-weight: 550;
}
.next-col-1 .sc_button{
    text-decoration: none; 
    color: white;
    transition: all 0.2s linear;
}
.next-col-1 .sc_button:hover {
    text-decoration: underline;
    color:white;
}
.next-col-2 .sc_button{
    text-decoration: none; 
    color: white;
    transition: all 0.2s linear;
}
.next-col-2 .sc_button:hover {
    text-decoration: underline;
    color:white;
}
.next__container::before{
    background: #171321;
    bottom: -1px;
    content: "";
    display: block;
    height: 240px;
    left: 50%;
    z-index: -1;
    position: absolute;
    transform: translateX(-50%) translateY(80px);
    width: 100%;
}
.foot__container{
    margin-top: 40px;
    display: flex;
    height: 1150px;
    width: 100%;
    background: #171321;
    align-items: center;
    justify-content: center;   
}
.foot__block{
    width: 80%;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 100%;
}
.link__block{
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 66.66%;
}
.link__row{
    width: 14%;
    height: 100%;
}
.link__coltit{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
}
.link__list{
    margin-top: 16px;
    font-size: 12px;
}
.link__foot{
    text-decoration: none; 
    color: white;
    transition: all 0.2s linear;
}
.link__foot:hover {
    text-decoration: underline;
    color:white;
}
.link__coltit.two{
    margin-top: 20px;
}
.lang__icon{
    margin-top: 100px;
    align-items: baseline;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 32px;
    padding-bottom: 24px;
}
.lang{
    display: flex;
}
.lang_logo{
    color: #fff;
}
.lang__{
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
    justify-content: flex-start;
    padding: 8px 0;
    margin-left: 10px;
}
.dr_icon{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
    justify-content: flex-start;
    padding: 8px 0;
}
.line__ct{
    color: #fff;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
}
.line__2{
    margin-top: 10px;
}
.line__2 a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.line__2 span{
    margin-left: 20px;
}